.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-top: 1px solid #eee;
    background-color: #fff;

    z-index: 1000;
}

.nav-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 3px;

    font-family: 'Pretendard';
    font-size: 0.75rem;
    color: #000;
    text-decoration: none;
}

.nav-item.active {
    font-weight: bold;
}

.nav-icon {
    width: 24px;
    height: 24px;
}