.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid #eee;
    background-color: #fff;

    z-index: 1000;
    padding: 0 16px;
}

.header-title {
    width: 65px;
}

.notification {
    width: 24px;
}