.home-header {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-top: 20px;
    margin-bottom: 24px;
}

.home-title {
    font-family: 'Pretendard', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.home-sub-title {
    font-family: 'Pretendard', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #E5E5E5;
}

.habit-card-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.no-habit-card {
    display: flex;
    flex-direction: column;
    padding: 26px 24px;
    gap: 10px;

    border-radius: 36px;

    font-family: 'Pretendard', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #000000;

    background-color: #F8FAFC;
}

.no-habit-card {
    display: flex;
    justify-content: flex-start;
}

.no-habit-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.no-habit-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.no-habit-subtitle {
    font-size: 1rem;
    font-weight: medium;
}

.flower-icon-container {
    width: 100%;

    display: flex;
    justify-content: flex-end;
}

.flower-icon {
    width: 80px;
    height: 80px;

    object-fit: contain;
}

.card {
    transition: all 0.3s ease;
    overflow: hidden;
}

.card.open {
    height: 420px;
}

.add-habit-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    gap: 10px;

    border-radius: 36px;

    background-color: #F3F4F4;
}

.button-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}